<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" >
        <test name="VMS Automation">
        <parameter name="program"  value="VMS Automation"/>
            <classes>
                <class name="tests/registrationVendor"/>
            </classes>
        </test>
    </suite>
<!-- </suite> -->